/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

md-list-item.selected{
    background-color: lightgray;
}

h2{
    padding: .7em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #242823;
}

.main-menu{
    position: absolute;
    height: 100%;
    right: 0;
}

.main-menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

.main-menu li a{
    font-size: .7em;
}

.main-menu li a.selected{
    text-decoration: underline;
}

.delete-icon:hover{
    color: #d40000;
}
.share-icon:hover{
    color: #3f51b5;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.presentation{
    padding: 1em;
}

.presentation h2{
    padding-left: 0;
    padding-top: 0;
}

.marmitton-sniffer{
    text-decoration: none;
    color: black;
    display: block;
    position: relative;
    width: 10em;
    height: 10em;
    background-color: #3F51B5;
    padding: 3em;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 2px 2px 6px #424040;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

.marmitton-sniffer:after{
    content : 'Met moi dans tes favoris !';
    position: absolute;
    display: block;
    font-size:.8em;
    bottom:-2em;
    left:50%;
    width: 14em;
    margin-left: -7em;
    text-align: center;
    color:red;
    font-weight: bold;
}

.marmitton-sniffer span{
    font-size: 3em;
    color: #fff;
}

.login-form{
    width: 30em;
    margin: 0 auto;
    padding: 2em;
    border:1px solid lightgray;
    border-radius:1em;
    height: 25em;
    background-color: white;
}

.login-form i{
    margin: auto;
    background-repeat: no-repeat no-repeat;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 26px;
    left: 2px;
}

.login-form input{
    padding-left: 2em;
}

.auth-body {
    background-color: lightgrey;
    width: 100%;
}

.add-list md-input-container.md-icon-float > label{
    margin-left: 0;
}

h4, h6{
    text-align: center;
    color: #414141;
}

h2{
    color: #414141;
}

.add-list{
    margin-bottom: 1em;
}

md-divider {
    border-top-color: rgba(47, 45, 45, 0.5);
}