/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.md-toolbar-tools h1 {
    font-size: inherit;
    font-weight: inherit;
    margin: inherit;
}

md-list-item.selected{
    background-color: lightgray;
}

h2{
    padding: .7em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #242823;
}

.main-menu{
    position: absolute;
    height: 100%;
    right: 0;
}

.main-menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

.main-menu li a{
    font-size: .7em;
}

.main-menu li a.selected{
    text-decoration: underline;
}

.delete-icon:hover{
    color: #d40000;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}