<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <h6>{{listCtrl.user.password.email}}</h6>
    <h4>Mes listes</h4>

    <md-content layout-padding>
        <md-list-item ng-repeat="list in listCtrl.lists" ng-class="{selected : list == listCtrl.currentList}" ng-click="listCtrl.changeCurrentList(list)">
            <p>
                {{ list.list_name }}
            </p>
            <!--
            <div class="actions">
                <i class="md-secondary material-icons delete-icon" aria-label="supprimer" ng-click="listCtrl.removeList(list)">delete</i>
                <i class="md-secondary material-icons share-icon" aria-label="share" ng-click="listCtrl.addList(list)">share</i>
            </div>-->


            <md-icon ng-style="{color: ''}"
                     aria-label="delete"
                     class="material-icons step delete-icon"
                     ng-class="md-24"
                     ng-click="listCtrl.removeList(list)">
                delete
            </md-icon>

            <md-icon ng-style="{color: ''}"
                     aria-label="share"
                     class="material-icons step share-icon"
                     ng-class="md-24"
                     ng-click="listCtrl.shareList(list)">
                share
            </md-icon>
        </md-list-item>
    </md-content>

    <form layout="column" class="add-list" ng-cloak ng-submit="listCtrl.addList()">
        <br/>
        <md-content layout-padding>
            <md-input-container >
                <input ng-model="listCtrl.listToAdd" type="text" placeholder="Nom de la liste">
            </md-input-container>
        </md-content>

        <md-button class="md-raised md-primary">Ajouter une liste</md-button>
    </form>

    <md-divider></md-divider>



    <h4>On m'a partagé
        <md-icon aria-label="share" class="material-icons step share-icon" ng-class="md-24">
            share
        </md-icon>
    </h4>

    <md-content layout-padding>
        <md-list-item ng-repeat="list in listCtrl.shared_lists" ng-class="{selected : list == listCtrl.currentList}" ng-click="listCtrl.changeCurrentList(list)">
            <p>
                {{ list.list_name }}
            </p>
        </md-list-item>
    </md-content>
</md-sidenav>










<div layout="column" flex id="content">
    <h2>{{listCtrl.currentList.list_name}}</h2>

    <md-content layout="column" flex class="md-padding">
        <section >
            <form name="productForm" ng-submit="listCtrl.addProduct()">
                <md-input-container>
                    <label>Produit à ajouter</label>
                    <input id="product-to-add" md-maxlength="30" name="description" ng-model="listCtrl.productToAdd">
                    <div ng-messages="productForm.description.$error">
                        <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                    </div>
                </md-input-container>

                <input type="submit" class="hide"/>
            </form>

            <md-list-item ng-repeat="item in listCtrl.currentList.items">
                <p>{{ item.label }}</p>
                <i class="md-secondary material-icons delete-icon" aria-label="supprimer" ng-click="listCtrl.removeItem(item)">delete</i>
            </md-list-item>
        </section>
    </md-content>
</div>
